<!--
  Generated template for the ProductAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add product</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cancel()">
        <span color="primary">
          CANCEL
        </span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="lastErrorMsg">
    <h6 style='color: red'>{{lastErrorMsg}}</h6>
  </div> 
  <form [formGroup]="createForm" (ngSubmit)="createProduct()">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="manufacturer" formControlName="manufacturer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" pattern="^[0-9]+[.]?[0-9]{0,2}" placeholder="price" formControlName="price"></ion-input>
      </ion-item>
    </ion-list>
    <ion-buttons>
      <button ion-button [disabled]="!isReadyToSave" strong>
        <span color="primary">
          ADD
        </span>
      </button>
    </ion-buttons>
  </form>
</ion-content>
