<ion-header>
    <ion-navbar>
      <ion-title>
        Products list
      </ion-title>
      
      <ion-buttons end>
        <button ion-button icon-only (click)="addProduct()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
        <button ion-button icon-only (click)="signOut()">
            <ion-icon name="log-out"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h1>Products:</h1>
    <div *ngIf="lastErrorMsg">
        <h6 style='color: red'>{{lastErrorMsg}}</h6>
      </div> 
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingText="Pull to refresh..."
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  
    <ion-list>
      <ion-item-sliding *ngFor="let product of currentProducts">
        <button ion-item (click)="showProduct(product)">
          <h2>{{product.name}}</h2>
        </button>
        <ion-item-options *ngIf="product._links.delete">
          <button ion-button color="danger" (click)="deleteProduct(product)">
            DELETE
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
