<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="lastErrorMsg">
    <h6 style='color: red'>{{lastErrorMsg}}</h6>
  </div> 
  <ion-item-group *ngIf="product">
    <ion-item>Manufacturer: {{product.manufacturer}}</ion-item>
    <ion-item>Price: {{product.price}}</ion-item>
    <ion-item>Qunatity: {{product.quantity}}</ion-item>
  </ion-item-group>
  <form *ngIf="product" [formGroup]="updateForm" (ngSubmit)="updateQuantity()">
    <ion-list>
      <ion-item>
        <ion-input type="number" min="0" placeholder="delta" formControlName="delta"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Decrease</ion-label>
          <ion-toggle checked="false" formControlName="sign"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-buttons>
      <button ion-button [disabled]="!isReadyToUpdate" strong>
        <span color="primary">
          UDPATE
        </span>
      </button>
    </ion-buttons>
  </form>
</ion-content>
